{% extends 'base.html'%}

{% block content %}

<header>
    <div class="container-header">
        <div class="logo">
            <h1>TO-DO LIST</h1>
        </div>

        <div class="navbar">
            <nav>
                <ul>
                    <li><a href="{{ url_for('homepage') }}">Inicio</a></li>
                    <li><a href="{{ url_for('tarefas') }}">Adicionar Tarefa</a></li>
                    <li><a href="{{ url_for('listaTarefas') }}">Lista de tarefas</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>
{% endblock %}